/vendor
/node_modules

.env
.env.*
!.env.example

/public/build
/public/hot
/public/storage
/public/web.config

/public/docs/*
/public/file/*
!/public/file/.gitkeep

/storage/*.key
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore

Thumbs.db
Desktop.ini

.phpunit.cache
.phpunit.result.cache

/.idea
/.vscode
/.fleet
/.zed
/.nova
/.scribe
/.qoder
/.scribe
